
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  margin: 0;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  color: black;
  margin: 0;
  margin-bottom: 15px;
  text-transform: capitalize;
}

div a {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

div a:hover {
  text-decoration: underline;
}

div a:visited {
  color: black;
}

#info-window {
  max-width: 400px;
}
